/* reseteo inicial */
:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #932626;
  --second-color: #9caccd;
  --main-modal-color: rgba(147, 38, 38, 0.85);
  --second-modal-color: rgba(156, 172, 205, 0.85);
  --container-width: 1200px;
}
/* reseteo al Html */
html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth; /* trancision fluida */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden; /* todo lo que se desborde se oculte y no genere barras de deslizamiento */
}
img {
  max-width: 100%;
  height: auto;
}

/* menu hamburguesa */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Mantiene el h1 a la derecha */
  padding: 10px 20px;
  background-color: #f8f9fa5f;
  z-index: 1000; /* Asegura que quede por encima del contenido */
}
.menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Centra el menú */
  display: flex;
  gap: 30px;
  padding: 10px;
  border-bottom: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 9px 5px rgba(0, 0, 0, 0.1); /* Sombra para mejor visual */
}
.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
h1 {
  margin: 0;
  white-space: nowrap;
}

section {
  margin-top: 10px;
  padding: 2rem;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;  
  min-height: 90vh;
  text-align: center;
}

.seccion-inicio{
  background-color: aquamarine;
}

.carousel-item img {
  width: 100% !important;
  height: 400px !important;
  margin: 0 auto;
}