

/* reseteo al Html */
html {
  box-sizing: border-box;
  scroll-behavior: smooth; /* trancision fluida */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden; /* todo lo que se desborde se oculte y no genere barras de deslizamiento */
}
img {
  max-width: 100%;
  height: auto;
}

/* menu hamburguesa */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  background-color: #28b463;
  justify-content: flex-end; /* Mantiene el h1 a la derecha */
  padding: 10px 20px;
  z-index: 1000; /* Asegura que quede por encima del contenido */
}
footer{
  background-color: #28b463;
  z-index: 999;
  width: 100%;
}
.menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Centra el menú */
  display: flex;
  gap: 30px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* Sombra para mejor visual */
}
.menu a {
  text-decoration: none;
  color: #24242c ;
  font-weight: bold;
}
.menu a:hover{
  color: white;
}
h1 {
  margin: 0;
  white-space: nowrap;
}
.imgs{
  background-color: #28b463;
}
.imgs img{
  width: 200px !important;
  margin: 0 auto !important;
}
section {
  margin-top: 10px;
  padding: 2rem;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;  
  min-height: 90vh;
  text-align: center;
}

/* .seccion-inicio{
  background-color: aquamarine;
} */

.carousel-item img {
  width: 100% !important;
  height: 400px !important;
  margin: 0 auto;
}
